* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #F7CACD;

}

#nadpis {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #DE4D86;
}

.navi {
  height: 30px;
  background-color: #F29CA3;
}

a {
  display: inline-block;
  width: 200px;
  height: 100%;
  text-decoration: none;
  font-size: 25px;
  color: white;
}

a:hover {
  background-color: #DE4D86;
}
